<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="assets/css/admin-style.css">
</head>
<body>
  <nav>

    <div class="admin-label">
      <h1>ADMIN</h1>
      <hr>
    </div>

    <div class="navigation">
      <button>Dashboard</button>
      <button>Projects</button>
      <button>Task</button>
      <button>Reports</button>
      <button>Users</button>
    </div>

  </nav>

  <main>

    <header>
      <h1>CITE Task Management System</h1>

      <div class="switch">
        <h5>Administrator</h5>
      </div>
    </header>

    <div class="home">

      <div class="welcome-message">
        <hr>
      </div> 

      <form class="user-add-design">
        <div class="info-container">
          <div class="user-info">
            <label for="fname">First Name</label><br>
            <input type="text" id="fname"><br>

            <label for="lname">Last Name</label><br>
            <input type="text" id="lname"><br>

            <label for="avatar">Avatar</label><br>
            <input type="file" id="avatar"><br>

            <div class="avatar-container">
              <img src="assets/img/cite.jpg" alt="avatar img">
            </div>
          </div>

          <div class="vertical-line"></div>

          <div class="user-acc">
            <label for="email">Email</label><br>
            <input type="email"><br>

            <label for="pass">Password</label><br>
            <input type="password"><br>

            <label for="cpass">Confirm Password</label><br>
            <input type="password"><br>

            <label for="role">Role</label><br>
            <select id="role">
              <option value="employee">Employee</option>
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
        </div>

        <input type="submit" value="save">
        <button>cancel</button>
      </form>

  </main>
</body>
</html>