<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="assets/css/login-style.css">
</head>
<body style="background-image: url(assets/img/cite.jpg);">

  <div class="container">

    <nav>
      <div class="menu-bar">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <h1>CITE Task Management System</h1>

      <button>Go Back</button>
    </nav>  
    

    <form action="/" method="POST">

      <input name="log_email" type="email" id="email" placeholder="Email">
      <input name="log_password" type="password" id="password" placeholder="Password">


      <div class="contain">
        <div class="remember">
          <input type="checkbox">
          <span>Remember Me</span>
        </div>
        
        <input type="submit" value="Sign In">
      </div>

    </form>

  </div>
  
</body>
</html>