<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>

  <link rel="stylesheet" href="../View/assets/css/login-style.css">
</head>
<body style="background-image: url(../View/assets/img/cite.jpg);">

  <div class="container">

    <nav>
      <div class="menu-bar">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <h1>CITE Task Management System</h1>

      <button>Sign In</button>
    </nav>  
    

    <div class="mission-vision-container">

      <div class="vision-container">
        <h1>Vision</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nemo voluptates rerum fugiat dolores vitae deleniti voluptatem doloribus nisi at porro adipisci dolorem excepturi inventore nostrum, blanditiis exercitationem vel ducimus!
      </div>


      <div class="mission-container">
        <h1>Mission</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus corporis minima minus perspiciatis non excepturi porro, autem itaque assumenda a optio voluptas mollitia perferendis animi magni corrupti dolor! Sit?
      </div>
    </div>

  </div>
  
</body>
</html>